body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    height: 600px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 25px 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0002;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #5a94d6;
    color: #fff;
    border: none;
}

button:hover { background: #79e233f5; }