<!DOCTYPE html>
<html>
    <head>
        <title>Teacher Dashboard</title>
    </head>
    <body>
        <h1>Teacher Dashboard</h1>

        <ul id="student-list">
        </ul>
        <script>
            function fetchStudents() {
                fetch("/teacher")
                .then(Response => response.json())
                .then(data => {
                    const list = document.getElementById("student-list");
                    list.innerHTML = "";

                    data.forEach(student => {
                        const li = document.createElement("li");
                        li.textContent =  "ID: " + student.id + " | Name: " + student.name + " | Last Active: " + student.last_active + " | Status: " + student.status;
                        list.appendChild(li);
                    })       
                })
            }

            fetchStudents();

            setInterval(fetchStudents, 2000);
        </script>
    </body>
</html>